html {
  background: #000;
  font-family: 'TeX', serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

header {
  position: relative;
  margin: 40px 0;
}

header:after {
  content: '';
  height: 15px;
  display: inline-block;
}


/* title */
h1 {
  color: #fff;
  font-size: 80px;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 0.18em;
  margin: 0;
}

/* subtitle (not in use) */
h2 {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 30px;
}

/* note display */
/* TODO: turn to chord display/toggle between */
.currentNote {
  font-size: 60px;
  font-family: sans-serif;
  line-height: 1;
  color: #eee;
  transition: all .07s ease;
  min-height: 120px;
}

/* key wrapper */
.piano {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 880px;
  position: relative;
  margin: 40px auto 0;
  cursor: none;
}

/* applies to all keys */
.key {
  position: relative;
  border: 4px solid black;
  border-radius: .5rem;
  transition: all .07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  cursor: default;
}

/* applies to white keys */  
.key:not(.sharp) {
  float: left;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, .8);    
}

/* applies to black keys */  
.key.sharp {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #000;
  color: #eee;
  top: 0;
  z-index: 3;
}

/* positioning for the black keys */
.key[data-pos="1"] {
  left: 7%;
}
.key[data-pos="3"] {
  left: 17%;
}
.key[data-pos="6"]  {
  left: 37%;
}
.key[data-pos="8"] {
  left: 47%;
}
.key[data-pos="10"] {
  left: 57%;    
}
.key[data-pos="13"] {
  left: 77%;    
}
.key[data-pos="15"] {
  left: 87%;    
}

/* transform for playing notes */
.playing {
  transform: scale(.95);
  border-color: #028ae9;
  box-shadow: 0 0 1rem #028;
}

/* legend, i.e., which keys go to which notes */
.legend {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 7px;
  transition: opacity .3s;
  font-size: 20px;
  /*Ignore mouse events over this*/
  pointer-events: none;
  /*to stop legend from getting highlighted on click/drag*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* show legend on hoever */
/* TODO: change to show on a toggle? */
.piano:hover .legend {
  opacity: 1;
}